@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* input[type="file"]::file-selector-button {
  display: none;
}
input[type="file"]::content {
  display: none;
} */

